<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.length %>

      <% the_follow_request = FollowRequest.where({:sender_id => @current_user.id, :recipient_id => @the_user.id}).at(0) %>      
      <% if the_follow_request %>
      <div>
          <a href="/delete_follow_request/<%= the_follow_request.id %>">
            Unfollow
          </a>
      </div>
      <% else %>
      <div>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">

            <button>
              Follow
            </button>
          </form>
    </div>
      <% end %>

  <% if @the_user == @current_user %>
    <h4>Pending follow requests</h4>
          <ul>
          <% @the_user.received_follow_requests.each do |request| %>
              <li>
                <%= request.sender.username %>

                <form action="/modify_follow_request/<%= request.id %>" method="post">
                  <input name="query_status" value="accepted" type="hidden">

                  <button>
                    Accept
                  </button>
                </form>

                <form action="/modify_follow_request/<%= request.id %>" method="post">
                  <input name="query_status" value="rejected" type="hidden">
                
                  <button>
                    Reject
                  </button>
                </form>
              </li>
          <% end %>
          </ul>
  <% end %>


  </dd>

  <dt>Following</dt>
  <dd><%= @the_user.following.length %></dd>
  <% if @the_user == @current_user %>
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/<%= @the_user.id %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%= @the_user.username %>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >

      <button>Update user</button>
    </form>
  </dd>
  <% end %>


</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @the_user.own_photos.length %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>
<% @the_user.own_photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.owner.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>
    <td>
      <%= time_ago_in_words(photo.created_at) %> ago
    </td>

    <td>
      <%= photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
